@import url('fonts.css');
@import url('reset.css');

:root {
  --font-family-primary: 'Source Code Pro', sans-serif;

  --color-primary-light: #3d9cff;
  --color-primary-dark: #1a3b5d;
  --color-light: #ffffff;
  --color-background: #ddeefc;
  --color-border: #ced6e0;
  --color-error: #ff0000;
}

body {
  display: grid;
  place-items: center;
  font-family: var(--font-family-primary);
  font-size: 1rem;
  background-color: var(--color-background);
}

.disclaimer {
  padding: 1.25rem;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  color: var(--color-error);
}

.container {
  width: 100%;
  max-width: 36.875rem;
  padding: 1rem;
}

.card {
  max-width: 27.875rem;
  height: 16.875rem;
  margin-block-end: -8.75rem;
  margin-inline: auto;
  padding-inline: 1rem;
  perspective: 62.5rem;
  user-select: none;
  &.flip .card-inner {
    rotate: y 180deg;
  }
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: rotate 0.8s ease-in-out;
}

.card-highlighter {
  position: absolute;
  z-index: 5;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.65);
  opacity: 0;
  border-radius: 0.313rem;
  pointer-events: none;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
    translate 0.3s ease-in-out, opacity 0.3s ease-in-out;
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.5;
    filter: blur(1.563rem);
    background-color: #08142f;
  }

  &.highlight {
    opacity: 1;
  }
}

.card-front,
.card-back {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-shadow: 0.438rem 0.375rem 0.625rem rgba(14, 42, 90, 0.8);
  backface-visibility: hidden;
  border-radius: 1rem;
  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  &::before {
    background: var(--card-background-image) center / cover no-repeat;
  }

  &::after {
    background: rgba(6, 2, 29, 0.45);
  }
}

.card-back {
  rotate: y 180deg;
  &::before {
    rotate: y -180deg;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  height: 100%;
  padding: 1.563rem 0.938rem;
}

.card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 1.875rem;
  padding-inline: 0.625rem;
}

.card-type {
  display: flex;
  height: 2.813rem;
  img {
    object-fit: contain;
  }
}

.card-number {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 0.938rem;
  font-size: 1.563rem;
  font-weight: 500;
  line-height: 1;
  color: var(--color-light);
  cursor: pointer;
}

.card-number-item-blank {
  width: 2.188rem;
}

.card-body {
  margin-block-end: 1.5rem;
}

.card-tail {
  display: flex;
  align-items: start;
}

.card-tail-item {
  display: flex;
  flex-direction: column;
  row-gap: 0.375rem;
  padding: 0.375rem 0.625rem;
  color: var(--color-light);
  cursor: pointer;
}

.card-holder {
  flex-grow: 1;
  min-width: 0;
  .card-value {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.card-label {
  font-size: 0.875rem;
  opacity: 0.8;
}

.card-value {
  font-size: 1.125rem;
  line-height: 1;
  text-transform: uppercase;
}

.card-strip {
  width: 100%;
  height: 3.125rem;
  margin-block-start: 1.875rem;
  background-color: rgba(0, 0, 19, 0.8);
}

.card-cvv {
  padding: 0.938rem;
  text-align: right;
  .card-type img {
    margin-inline-start: auto;
  }
}

.card-cvv-label {
  margin-block-end: 0.313rem;
  padding-inline-end: 0.625rem;
  font-weight: 500;
  color: var(--color-light);
}

.card-cvv-strip {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 2.813rem;
  margin-block-end: 1.875rem;
  padding-inline-end: 0.625rem;
  font-size: 1.125rem;
  color: var(--color-primary-dark);
  border-radius: 0.313rem;
  box-shadow: 0 0.625rem 1.25rem -0.438rem rgba(32, 56, 117, 0.35);
  background-color: var(--color-light);
}

.form {
  display: grid;
  row-gap: 1.25rem;
  padding: 11.25rem 2.188rem 2.188rem;
  box-shadow: 0 1.875rem 3.75rem 0 rgba(90, 116, 148, 0.4);
  border-radius: 0.625rem;
  background-color: var(--color-light);
}

.form-field {
  display: flex;
  flex-direction: column;
  row-gap: 0.313rem;
  &.has-error .form-control {
    border-color: var(--color-error);
  }
}

.form-row {
  display: flex;
  gap: 0.875rem 2.188rem;
}

.form-label {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-primary-dark);
}

.form-control {
  width: 100%;
  height: 3.125rem;
  padding: 0.313rem 0.938rem;
  color: var(--color-primary-dark);
  border: 1px solid var(--color-border);
  border-radius: 0.313rem;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  @media (any-hover: hover) {
    &:hover {
      border-color: var(--color-primary-light);
    }
  }

  &:focus {
    outline: 0;
    border-color: var(--color-primary-light);
    box-shadow: 0 0.625rem 1.25rem -0.813rem rgba(32, 56, 117, 0.35);
  }
}

.form-field-error {
  font-size: 0.875rem;
  color: var(--color-error);
}

.form-submit-button {
  height: 3.438rem;
  white-space: nowrap;
  margin-block-start: 0.625rem;
  padding-inline: 1.25rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-light);
  box-shadow: 0.188rem 0.625rem 1.25rem 0 rgba(35, 100, 210, 0.3);
  border-radius: 0.313rem;
  background-color: #2364d2;
  transition: background-color 0.2s ease-in-out;
  @media (any-hover: hover) {
    &:hover {
      background-color: #356fd4;
    }
  }
}

@media (max-width: 29.99875em) {
  .card {
    height: 14.063rem;
  }

  .card-head {
    margin-block-end: 1.25rem;
  }

  .card-chip {
    width: 3.125rem;
  }

  .card-type img {
    width: 4.375rem;
  }

  .card-body {
    margin-block-end: 1.125rem;
  }

  .card-number {
    font-size: 1.25rem;
  }

  .card-number-item-blank {
    width: 1.25rem;
  }

  .card-value {
    font-size: 1rem;
  }

  .card-strip {
    height: 2.5rem;
    margin-block-start: 1.25rem;
  }

  .card-cvv-strip {
    height: 2.5rem;
    margin-block-end: 1.25rem;
  }

  .form {
    row-gap: 0.875rem;
    padding: 11rem 1.5rem 1.5rem;
  }

  .form-row {
    flex-direction: column;
  }

  .form-submit-button {
    height: 3rem;
    font-size: 1.125rem;
  }
}
